<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xiaomuma.example.auth.service.crud.modules.client.dao.AccountExternalDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.xiaomuma.example.auth.service.crud.modules.client.domain.AccountExternal">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="mobile" property="mobile" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="brief_introduction" property="briefIntroduction" />
        <result column="status" property="status" />
        <result column="has_set_password" property="hasSetPassword" />
        <result column="has_set_mobile" property="hasSetMobile" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="queryAccountByUsername" resultMap="BaseResultMap">
        select * from account where username = #{username}
    </select>

    <select id="queryAccountByMobile" resultMap="BaseResultMap">
        select * from account where mobile = #{mobile}
    </select>

</mapper>
